.firstMainText{
    font-family: 'Playfair',serif;
    font-size: 72px;
   
}
.secondMainText{
    font-family: 'Playfair',serif;
    font-size: 20px;
    
}
@media screen and (min-width: 601px) {
    .firstMainText {
      font-size: 72px;
    }
    .secondMainText {
      font-size: 20px;
    }
  }
@media screen and (max-width: 600px) {
    .firstMainText {
      font-size: 54px;
    }
    .secondMainText {
      font-size: 15px;
    }
  }
.content{
    position: relative;
    margin-top: 30% ;
    background:white;
    
}
