#paralax {
    background-image: url(../Images/image.jpg);
    padding-top: 30vh;
    min-height: 90vh;
    overflow: hidden;
    background-size: cover;
}

.buttonCard {
    margin-top: auto;
    margin-bottom: 5px;
    background: #4EA84E;
}

.navbar-brand {
    font-size: 35px;
    font-family: 'Caladea', monospace;
    color: #000;
}

.nav-item {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Inter', monospace;
    text-align: center;
    white-space: nowrap;

}

.nav-item::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #000;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

.nav-item:hover::after {
    transform: scale(1);
}

.shopping-cart {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Inter', monospace;
    text-align: center;
    white-space: nowrap;
}

.footer {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 60px;
}

.card-title .card-text {
    font-size: 0.75em;
}

.card-group {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .card {
        width: 50%;
    }
}