﻿@using SunMaria.Areas.Item.Models
@model Items
@{var item = Model; }
@Styles.Render("~/Content/css")
@Styles.Render("~/bundles/items")
<div>
    <div class="container" style="padding-top: 69px;">
        <h2 class="text-center justify-content-lg-center align-items-lg-center justify-content-xl-end align-items-xl-center" style="padding-bottom: 15px;"><br></h2>
        <div class="row" style="padding-bottom: 60px;">
            <div class="col offset-lg-0">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner" role="listbox">

                        @for (int i = 0; i < item.Photo.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active " style="min-width: 370px;"><img class="w-100 d-block" src="@Url.Content("~/images/" + item.Photo[i].Name)" alt="Slide Image"></div>
                            }
                            else
                            {
                                <div class="carousel-item" style="min-width: 370px;"><img class="w-100 d-block" src="@Url.Content("~/images/" + item.Photo[i].Name)" alt="Slide Image"></div>
                            }
                        }
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon" style="filter: invert(100%); opacity:0.6;"></span><span class="sr-only">Previous</span></a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon" style="filter: invert(100%); opacity:0.6;"></span><span class="sr-only">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < item.Photo.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#carousel-1" style="filter: invert(100%); opacity:0.4;" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carousel-1" style="filter: invert(100%); opacity:0.4;" data-slide-to="@i"></li>
                            }
                        }
                    </ol>
                </div>
            </div>
            <div class="col-xl-7 d-xl-flex justify-content-center justify-content-xl-center align-items-xl-start" style="min-width: 340px;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption class="text-center">@item.Description<br></caption>
                        <thead>
                            <tr>
                                <th style="width: 50px;">Характеристики</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Колекция:<br></td>
                                <td>@item.Collection<br></td>
                            </tr>
                            <tr>
                                <td>Для кого:<br></td>
                                <td>@item.ForWhom<br></td>
                            </tr>
                            <tr>
                                <td>Возраст:<br></td>
                                <td>@item.Age</td>
                            </tr>
                            <tr>
                                <td>Вид полотна:<br></td>
                                <td>@item.TypeCanvas<br></td>
                            </tr>
                            <tr>
                                <td>Склад:<br></td>
                                <td>@item.Warehouse<br></td>
                            </tr>
                            <tr>
                                <td>Уход:<br></td>
                                <td>@item.Care<br></td>
                            </tr>
                            <tr>
                                <td>Сезон:<br></td>
                                <td>@item.Season<br></td>
                            </tr>
                            <tr>
                                <td>Цена:<br></td>
                                <td>@item.Price<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group" style="padding-top: 60px;background-color: #f4f6f8;">
        <div class="card" style="margin: 25px;">
            <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/child.jpg")">
            <div class="card-body text-justify card text-center" style=" display: flex;   margin-top: auto;
    margin-bottom: 5px; vertical-align:bottom;">
                <h6 class="text-center card-title">Футболка 110611 Молочний<br></h6>
                <p class="card-text">102 грн</p>
            </div>
        </div>
        <div class="card" style="margin: 25px;">
            <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpg")">
            <div class="card-body card text-center">
                <h6 class="card-title">Футболка 110615 Серый<br></h6>
                <p class="card-text">110 грн</p>
            </div>
        </div>
        <div class="card" style="margin: 25px;">
            <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpg")">
            <div class="card-body card text-center">
                <h6 class="card-title">Платье110634 Белый<br></h6>
                <p class="card-text">110 грн</p>
            </div>
        </div>
        <div class="card" style="margin: 25px;">
            <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpg")">
            <div class="card-body card text-center">
                <h6 class="card-title">Футболка 110644 Черный<br></h6>
                <p class="card-text">105 грн</p>
            </div>
        </div>
        <div class="card" style="margin: 25px;">
            <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpg")">
            <div class="card-body card text-center">
                <h6 class="card-title">Футболка 110611 Молочний<br></h6>
                <p class="card-text">110 грн</p>
            </div>
        </div>
    </div>
</div>
@section Footer {}