﻿@{
    ViewBag.Title = "About";
}
@using SunMaria.Areas.Item.Models
@model List<Items>
@{var items = Model; }
@Styles.Render("~/Content/css")
@Styles.Render("~/bundles/items")

    <div class="row">
        <div class="sidebar-sticky col-lg-2 col-sm-3">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>
            </h6>
            <ul class="nav justify-content-center" style="margin-left:-15px;">
                <li class="nav-item">
                    <a class="nav-link active" href="?category=Штаны" onclick="">Штаны</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Order</a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>

            </h6>
            <ul class="nav justify-content-center" style="margin-left:-15px;">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Order</a>
                </li>
            </ul>
        </div>
        <div id="card" class="col-sm-9 row">

            @{
                /* foreach (var item in items)
                */
                for(int k = 0; k<items.Count;k++)
                {
                    <div class="card-group col-sm-4" style="padding-bottom: 20px; background-color: #FFF2F2;">
                        <div class="card" href="id/@items[k].Id">
                            <a href="id/@items[k].Id" class="custom-card p-2">
                                @try
                                {
                                    <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/" + items[k].Photo[0].Name)">
                                }
                                catch
                                {<img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpeg")">}
                                <div class="card-body align-baseline text-left">
                                    <h5 class="card-title">@Convert.ToString(items[k].Season)</h5>
                                    <p class="card-text text-break">@Convert.ToString(items[k].Price)</p>
                                    @*<button class="btn buttonCard" type="button">Button</button>*@
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
        @section Footer {}
    </div>